@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
    background-color: #FAF9F6;
    color: #333333;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
.navigation{
    text-align: center;
    display: flex;
}
a:hover{
    background-color:#6B8E23;
}
a{
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
}
.header-section{
    display: flex;
}
.intro{
    padding: auto;
    width: 50%;
    height: 500px;
    margin: 20px;
    text-align: center;
}
.mohit-image{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}