.navbaritem{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: inline;
    width: 100%;
}
#navbaritem{
    float: left;
    margin-left: 20px;
    padding: 10px;
    
}
#navbaritem-a{
    text-decoration: none;
    color:#6B8E23;
}
#navbaritem-a:hover{
    color: black;
}